Enter email
<br><br>
----or----
<br><br>
Enter Username
<br><br>
A link will be sent to the email associated to your account where 
you can create a new password.

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    <% end %>
<% end %>

<h2>Enter Email</h2>
<%= form_for(:user, :url => "resetbyemail" ) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Reset" %>
  </div>
<% end %>

<br><br><br>
<%= debug(params) if Rails.env.development? %>
