A link will be sent to the email associated to your account where 
you can create a new password.
<br><br>

<div id= "user_nav">
  <%= link_to "Home",  root_path %>
  <%= link_to "Login", root_path %>
</div>
<br><br>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
    <%= tag("br") %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    <% end %>
<% end %>

<%= form_for(:user, :url => "resetpassword" ) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <b><%= f.label :username %></b>
    <br>
    <%= f.text_field :login %>
  </div>
  <h4>---- or ----</h4>
  <br>
  <div class="field">
    <b><%= f.label :email %></b>
    <br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <br>
    <%= f.submit "Reset" %>
  </div>
<% end %>

<br><br><br>
<%= debug(params) if Rails.env.development? %>
