<h3>Change My Password</h3>

<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
    <%= tag("br") %>
    <%= content_tag :script, :type => "text/javascript" do -%>
        setTimeout("new Effect.Fade('notice_<%= key %>');", 15000);
    <% end %>
<% end %>


<%= @matchPath %><br>
<%= @user.perishable_token %><br>
<%= @user %><br>

<br><br>

<%= form_tag("/resetcall", :method => "post") do %>
  <div class = "field">
    <%= label_tag :password %><br />
    <%= text_field_tag :password %><br />
  </div>
  <div class = "field"><%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation %><br />
  </div>
  <div class = "field">
    <%= hidden_field_tag(:username, @login) %>  <div class = "field">
  </div>
  <div class = "field">
    <%= hidden_field_tag(:token, @perish_token) %>  <div class = "field">
  </div>
  <%= submit_tag "Reset Password" %>
<% end %>
