<h1>Home</h1>

Welcome to MyBlogWall.comz!

<div id="user_nav">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(:current) %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%=link_to "Register", new_user_path %>
  <% end %>
</div>

<% if current_user %>
  <h1>Home user see's when signed in</h1>
  <p> home/index.html.erb </p>
  <p> <%= "You are logged in as #{current_user.login}"%> </p>
  <p> <%= "Your email is #{current_user.email}"%> </p>
  <p> <%= "Your password is  #{current_user.password}"%> </p>
  <p> <%= "You have logged in #{current_user.login_count} times"%> </p>

<% else %>
  <h1>Log in</h1>
  <%= form_for(:user_session, :url => "create" ) do |f| %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
<% end %>
<%= debug(params) if Rails.env.development? %>
