<h1>Home</h1>

<p>This will be the home page.  This will tell site news or any info
that we want to display.
<br><br>

<div id="user_nav">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(current_user.login) %>
    <%= link_to "Profile", user_path(current_user.login) %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%=link_to "Register", new_user_path %>
    <%#=link_to "Login", login_path %>
  <% end %>
</div>

<% if current_user %>
  <h2>Logged in user Specific Info</h2>
  <p> <%= "You are logged in as #{current_user.login}"%> </p>
  <p> <%= "Your email is #{current_user.email}"%> </p>
  <p> <%= "You have logged in #{current_user.login_count} times"%> </p>

<% else %>
  <%= render 'user_sessions/formLogin' %>
  <div>
    <%=link_to "Forget your password?", forgot_path %>
  </div>
<% end %>

<br><br>
<%= debug(params) if Rails.env.development? %>
