<h1>Home</h1>

Welcome to MyBlogWall.comz!
<p>

<div id="user_nav">
  <% if current_user %>
    <%= link_to "Edit Profile", edit_user_path(current_user.login) %>
    <%= link_to "Profile", user_path(current_user.login) %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%=link_to "Register", new_user_path %>
    <%#=link_to "Login", login_path %>
  <% end %>
</div>

<p>This will be the home page.  This will tell site news or any info
that we want to display.
<br><br>

<% if current_user %>
  <h2>Logged in user Specific Info</h2>
  <p> home/index.html.erb </p>
  <p> <%= "You are logged in as #{current_user.login}"%> </p>
  <p> <%= "Your email is #{current_user.email}"%> </p>
  <p> <%= "Your password is  #{current_user.password}"%> </p>
  <p> <%= "You have logged in #{current_user.login_count} times"%> </p>

<% else %>
  <h2>Log in</h2>
  <%= form_for(@user_session, :url => "create" ) do |f| %>
    <%#= render "shared/error_messages", :target => @user_session %>
    <%= f.error_messages %>
    <div class="field">
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
<% end %>

<%= debug(params) if Rails.env.development? %>
