Uh oh.... You tried to do something without being logged in. Log in and then try again.

<h1>Log in</h1>
<%= form_for(:user_session, :url => {:action => "create"}) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<br>
<%= debug(params) if Rails.env.development? %>
